module galera_cluster 1.1;

require {
	type sysctl_net_t;
	type kerberos_port_t;
	type mysqld_t;
	type rsync_exec_t;
	type mysqld_safe_exec_t;
        type initrc_tmp_t;
	class process setpgid;
	class tcp_socket name_bind;
	class netlink_tcpdiag_socket create;
	class dir search;
	class unix_stream_socket connectto;
	class file { execute read open getattr execute_no_trans };
}

#============= mysqld_t ==============

#!!!! This avc is allowed in the current policy
allow mysqld_t kerberos_port_t:tcp_socket name_bind;

#!!!! This avc is allowed in the current policy
allow mysqld_t self:netlink_tcpdiag_socket create;

#!!!! This avc is allowed in the current policy
allow mysqld_t self:process setpgid;

#!!!! This avc is allowed in the current policy
allow mysqld_t sysctl_net_t:dir search;
allow mysqld_t sysctl_net_t:file read;
allow mysqld_t sysctl_net_t:file open;

#!!!! This avc can be allowed using the boolean 'daemons_enable_cluster_mode'
allow mysqld_t self:unix_stream_socket connectto;

allow mysqld_t sysctl_net_t:file getattr;

#!!!! This avc is allowed in the current policy
allow mysqld_t rsync_exec_t:file getattr;
allow mysqld_t rsync_exec_t:file { read execute open execute_no_trans };
allow mysqld_t mysqld_safe_exec_t:file getattr;

allow mysqld_t initrc_tmp_t:file open;
